body {
    padding-bottom: 220px;
}
#main {
    position: relative;
}
.hover {
    outline: 2px solid #66f !important;
}
.active-element, .active-element:focus {
    position: relative;
    z-index: 10;
    outline: 9999px solid rgba(0,0,0,0.3) !important;
}
.allSettings {
    position: fixed;
    right: 0;
    z-index: 100;
    outline: none !important;
    border-color: #fff;
    border-top: none;
    border-radius: 0 0 0 4px;
}
#allSettings {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
#allSettings .well {
    margin: 0;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    height: 200px;
    overflow: auto;
}
#allSettings input {
    margin-bottom: 10px;
}
#info {
    position: fixed;
    left: 5px;
    top: 5px;
    max-width: 300px;
}