body {
    padding-bottom: 50px;
}
#main {
    position: relative;
}
#pop-up {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin-bottom: 0;
    width: 100%;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    background: #fff;
}
.hover {
    outline: 2px solid #66f !important;
}
.active-element, .active-element:focus {
    position: relative;
    z-index: 10;
    outline: 9999px solid rgba(0,0,0,0.3) !important;
}
.allSettings {
    position: absolute;
    right: 0;
    z-index: 100;
    outline: none !important;
    border-color: #fff;
    border-top: none;
    border-radius: 0 0 0 4px;
}
#allSettings .well {
    border-top: none;
    border-radius: 0 0 5px 5px;
}
#allSettings input {
    margin-bottom: 10px;
}